/*@font-face 
{
    font-family: Patrick-Hand-SC;
    src: url('/site/fonts/patrick-hand.sc.ttf');
}*/

body
{
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    background-color: #540b0e;
    margin: 0;
    padding: 0;
}

.sticky
{
    position: fixed;
    top: 0;
}

header
{
    display: block;
    background-color: #ffffff;
    width: 15%;
    height: 100vh;
    margin: 0;
}
header #logo
{
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin: 0 5%;
    width: 10%;
    height: 100%;
}

/* Navbar stuff */
.navbar
{
    display: block;
    width: 60%;
    height: 60%;
    margin: 0 20%;
    overflow: hidden;
    color: #000000;
    background-color: #ffffff;
}
.navbar a
{
    float: left;
    text-align: center;
    padding: 4px 16px;
    margin: 0.5% 1%;
    text-decoration: none;
    font-size: 40px;
    border: 3px solid rgba(0,0,0,0);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.navbar a:hover
{
    border: 3px dashed rgba(0,0,0,1);
}
.navbar a.active
{
    border: 3px solid rgba(0,0,0,1);
}
.navbar a:visited
{
    text-decoration: none;
}

.scroller
{
    margin-left: 15%;
    height: 100vh;
    width: 85%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.scroller section
{
    scroll-snap-align: start;
}

#section1
{
    background-color: red;
}
#section2
{
    background-color: green;
}
#section3
{
    background-color: blue;
}
#section4
{
    background-color: pink;
}
#section5
{
    background-color: purple;
}